@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-dark {
    --bg-color: #0F172A;
    --text-color: #fff;
    --container-bg-color: #2d3748;
    --card-bg-color: #1E293B;
    --card-shadow-color: 0 -2px 10px rgba(0, 0, 0, 1);
    --button-border-color: #fff;
    --bg-color-alt: #1a202cf9;
    --text-color-alt: #fffffffe;
    --conatct-card-bg-color: #0F0F11;
    /* --bg-image-service: url('../src/assets/img/dark_bg.jpg'); */
}

.theme-white {
    --bg-color: #fff;
    --text-color: #1a202c;
    --container-bg-color: #f7fafc;
    --button-bg-color: #edf2f7;
    --button-text-color: #1a202c;
    --button-hover-bg-color: #cbd5e0;
    --bg-color-alt:#f7f6f6;
    --conatct-card-bg-color: #5f58fa;
    --card-bg-color: #F8FAFC;
    --card-shadow-color: 0px 3px 8px rgba(0, 0, 0, 0.19);
    --button-border-color: rgb(203 213 225);
    --bg-color-alt: #f7f6f6;
    /* --bg-image-service: url('../src/assets/img/light_bg.png'); */
}

.root-container {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.contact-card{
    background-color: var(--conatct-card-bg-color);
}

.contact-input-container {
    background-color: transparent;
    color: var(--text-color);
}

.contact-button {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.contact-button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--button-border-color);
}

.root-container-alt {
    background-color: var(--bg-color-alt);
    color: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    box-shadow: var(--card-shadow-color);
}


.introo {
    color: var(--text-color);
}


.principle {
    background-color: var(--bg-color);
    color: var(--text-color);
}