@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-dark {
    --bg-color: #1a202c;
    --text-color: #fff;
    --container-bg-color: #2d3748;
    --button-bg-color: #4a5568;
    --button-text-color: #fff;
    --button-hover-bg-color: #718096;
    --bg-color-alt: #1a202cf9;
    --text-color-alt: #fffffffe;
    --conatct-card-bg-color: #0F0F11;
    /* --bg-image-service: url('../src/assets/img/dark_bg.jpg'); */
 
}

.theme-white {
    --bg-color: #fff;
    --text-color: #1a202c;
    --container-bg-color: #f7fafc;
    --button-bg-color: #edf2f7;
    --button-text-color: #1a202c;
    --button-hover-bg-color: #cbd5e0;
    --bg-color-alt:#f7f6f6;
    --conatct-card-bg-color: #5f58fa;
    /* --bg-image-service: url('../src/assets/img/light_bg.png'); */
}

.root-container{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.contact-card{
    background-color: var(--conatct-card-bg-color);
}

.root-container-alt{
    background-color: var(--bg-color-alt);
    color: var(--text-color);
    background-image: var(--bg-image-service);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     

}